A Spark DataFrame is a distributed collection of data organized into named columns that provides operations to filter, group, or compute aggregates, and can be used with Spark SQL. DataFrames can be constructed from structured data files, existing RDDs, tables in Hive, or external databases.

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pysession').getOrCreate()

In [2]:
eventsDF = spark.read.csv("events.csv", header=True, inferSchema=True)
eventsDF.show(10)

+----------+--------------+-----------+---------+--------+------------+
|display_id|          uuid|document_id|timestamp|platform|geo_location|
+----------+--------------+-----------+---------+--------+------------+
|         1|cb8c55702adb93|     379743|       61|       3|   US>SC>519|
|         2|79a85fa78311b9|    1794259|       81|       2|   US>CA>807|
|         3|822932ce3d8757|    1179111|      182|       2|   US>MI>505|
|         4|85281d0a49f7ac|    1777797|      234|       2|   US>WV>564|
|         5|8d0daef4bf5b56|     252458|      338|       2|       SG>00|
|         6|7765b4faae4ad4|    1773517|      395|       3|   US>OH>510|
|         7|2cc3f6457d16da|    1149661|      602|       2|   US>MT>762|
|         8|166fc654d73c98|    1330329|      638|       2|   US>PA>566|
|         9|9dddccf70f6067|    1772126|      667|       1|   US>FL>528|
|        10|b09a0e92aa4d17|     157455|      693|       1|          US|
+----------+--------------+-----------+---------+--------+------------+
only showing top 10 rows

In [3]:
eventsDF.printSchema()

root
 |-- display_id: integer (nullable = true)
 |-- uuid: string (nullable = true)
 |-- document_id: integer (nullable = true)
 |-- timestamp: integer (nullable = true)
 |-- platform: string (nullable = true)
 |-- geo_location: string (nullable = true)

In [4]:
eventsDF.write.csv.(path="csvFolderOne", header=True, sep=',')

In [5]:
eventsDF.withColumn('extended_platform', eventsDF.platform*10).show()

+----------+--------------+-----------+---------+--------+------------+-----------------+
|display_id|          uuid|document_id|timestamp|platform|geo_location|extended_platform|
+----------+--------------+-----------+---------+--------+------------+-----------------+
|         1|cb8c55702adb93|     379743|       61|       3|   US>SC>519|             30.0|
|         2|79a85fa78311b9|    1794259|       81|       2|   US>CA>807|             20.0|
|         3|822932ce3d8757|    1179111|      182|       2|   US>MI>505|             20.0|
|         4|85281d0a49f7ac|    1777797|      234|       2|   US>WV>564|             20.0|
|         5|8d0daef4bf5b56|     252458|      338|       2|       SG>00|             20.0|
|         6|7765b4faae4ad4|    1773517|      395|       3|   US>OH>510|             30.0|
|         7|2cc3f6457d16da|    1149661|      602|       2|   US>MT>762|             20.0|
|         8|166fc654d73c98|    1330329|      638|       2|   US>PA>566|             20.0|
|         9|9dddccf70f6067|    1772126|      667|       1|   US>FL>528|             10.0|
|        10|b09a0e92aa4d17|     157455|      693|       1|          US|             10.0|
|        11|602e210c5831e5|    1773230|      710|       3|   US>IL>675|             30.0|
|        12|6fa993bd0e0157|     892701|      718|       1|   US>TX>612|             10.0|
|        13|7355615832b3af|    1778533|      739|       1|   US>AZ>753|             10.0|
|        14|daef797fc210a2|    1759953|      798|       3|   US>NC>560|             30.0|
|        15|24c64dc30891c0|    1777136|     1000|       2|          GB|             20.0|
|        16|30c0ad12b36375|    1727882|     1033|       1|   US>FL>561|             10.0|
|        17|c80c06d718ba65|    1667725|     1044|       2|   US>MI>540|             20.0|
|        18|eb58e66b4f6bb0|     429183|     1175|       2|   US>OR>820|             20.0|
|        19|c419799a427c72|    1155107|     1202|       3|   US>HI>744|             30.0|
|        20|650e3b5699738b|    1642724|     1282|       2|   US>MI>505|             20.0|
+----------+--------------+-----------+---------+--------+------------+-----------------+
only showing top 20 rows

In [6]:
eventsDF.select('uuid', 'document_id', 'platform').show()

+--------------+-----------+--------+
|          uuid|document_id|platform|
+--------------+-----------+--------+
|cb8c55702adb93|     379743|       3|
|79a85fa78311b9|    1794259|       2|
|822932ce3d8757|    1179111|       2|
|85281d0a49f7ac|    1777797|       2|
|8d0daef4bf5b56|     252458|       2|
|7765b4faae4ad4|    1773517|       3|
|2cc3f6457d16da|    1149661|       2|
|166fc654d73c98|    1330329|       2|
|9dddccf70f6067|    1772126|       1|
|b09a0e92aa4d17|     157455|       1|
|602e210c5831e5|    1773230|       3|
|6fa993bd0e0157|     892701|       1|
|7355615832b3af|    1778533|       1|
|daef797fc210a2|    1759953|       3|
|24c64dc30891c0|    1777136|       2|
|30c0ad12b36375|    1727882|       1|
|c80c06d718ba65|    1667725|       2|
|eb58e66b4f6bb0|     429183|       2|
|c419799a427c72|    1155107|       3|
|650e3b5699738b|    1642724|       2|
+--------------+-----------+--------+
only showing top 20 rows

In [ ]:
eventsDF.filter(eventsDF.platform == 1).show()

In [7]:
eventsDF.filter((eventsDF.platform ==1)&(eventsDF.timestamp==667)).show()

+----------+--------------+-----------+---------+--------+------------+
|display_id|          uuid|document_id|timestamp|platform|geo_location|
+----------+--------------+-----------+---------+--------+------------+
|         9|9dddccf70f6067|    1772126|      667|       1|   US>FL>528|
+----------+--------------+-----------+---------+--------+------------+

In [ ]:
eventsDF.drop(eventsDF.geo_location)

In [8]:
eventsDF.agg({'platform':'avg', 'timestamp':'count', 'document_id':'count'}).show()

+------------------+------------------+----------------+
|count(document_id)|     avg(platform)|count(timestamp)|
+------------------+------------------+----------------+
|          23120126|1.7443485265496663|        23120126|
+------------------+------------------+----------------+

In [9]:
eventsDF.describe(['platform', 'timestamp']).show()

+-------+------------------+-------------------+
|summary|          platform|          timestamp|
+-------+------------------+-------------------+
|  count|          23120126|           23120126|
|   mean|1.7443485265496663|6.540050394022858E8|
| stddev|0.6781536109158633|3.770035880180587E8|
|    min|                 1|                 61|
|    max|                \N|         1295999805|
+-------+------------------+-------------------+

In [10]:
eventsDF.orderBy('uuid', ascending=False).show()

+----------+--------------+-----------+----------+--------+------------+
|display_id|          uuid|document_id| timestamp|platform|geo_location|
+----------+--------------+-----------+----------+--------+------------+
|  19460988|ffffffba166815|     954352| 970754807|       2|       SE>28|
|   8530211|fffffea24f24a9|    2295026| 578369876|       1|   US>UT>770|
|  10777971|fffffe9203ee14|     339669| 725881852|       2|       US>CA|
|     64377|fffffe25aa07b1|      25792|   5241682|       1|       IL>05|
|  10464895|fffffdaff33cc6|    2385801| 699696608|       1|       AU>07|
|   8301452|fffffb691423ab|    1469731| 568090101|       1|   US>TX>623|
|  14726011|fffff9f07d9c76|      55239| 977402983|       2|   US>HI>744|
|  12948320|fffff8ae05632c|    2637118| 853405142|       2|   US>OH>515|
|  15937585|fffff832b8debc|    1025421|1067110297|       2|   US>NY>501|
|  19942778|fffff7fcc60359|     272584|1129758819|       1|   US>KY>529|
|  22236476|fffff7328769f1|     799536|1253734179|       1|   US>CA>807|
|  18807946|fffff613f97eb2|    2489512| 734533708|       1|   US>PA>504|
|  19443471|fffff4a47aa9c7|     379125| 959340276|       2|       AU>02|
|  14667777|fffff365873e4d|    2727049| 972027594|       1|   US>TX>623|
|   9274496|fffff2e1cb5169|    1788292| 631750796|       1|   US>NY>532|
|   4101572|fffff26a8560f8|    1774758| 261375599|       2|   US>AR>693|
|  17460002|fffff1f376f759|    1917619| 217785206|       2|   US>OH>510|
|   9100143|fffff08d31447a|    2364990| 612763576|       2|       GH>01|
|  19295141|ffffeee2ee87dc|    2631060| 907162210|       2|          IE|
|  21016311|ffffedc2f70ceb|     774789|1184690539|       1|   US>CA>803|
+----------+--------------+-----------+----------+--------+------------+
only showing top 20 rows

In [ ]:
dropdups = eventsDF.drop_duplicates()
dropdups.show()

In [11]:
dropdups = eventsDF.drop_duplicates(['platform'])
dropdups.show()

+----------+--------------+-----------+---------+--------+------------+
|display_id|          uuid|document_id|timestamp|platform|geo_location|
+----------+--------------+-----------+---------+--------+------------+
|   1747640|d6687e3b2e120e|     461108|116916513|       3|       NZ>E7|
|    303066|83e9ec48908c6a|     968149| 28799999|      \N|   US>VA>511|
|         9|9dddccf70f6067|    1772126|      667|       1|   US>FL>528|
|   1747626|2d2246fcb3107a|    1462807|116915577|       2|       MX>09|
+----------+--------------+-----------+---------+--------+------------+

Reading data from database

In [13]:
dbURL = "jdbc:mysql://localhost/population"
popsDF = spark.read.format("jdbc").options(url
= dbURL, database ='population', dbtable ='pops',
user="root", password="root@123").load();

In [14]:
popsDF.show()

+--------------+---------+----------+
|       country|continent|population|
+--------------+---------+----------+
|         india|     asia|     99999|
|         japan|     asia|       999|
|      combodia|   africa|   1234567|
|ghana republic|   africa|     12312|
+--------------+---------+----------+

In [15]:
popsDF.groupBy(['continent']).mean().show()

+---------+---------------+
|continent|avg(population)|
+---------+---------------+
|   africa|       623439.5|
|     asia|        50499.0|
+---------+---------------+

groupBy on multiple columns: popsDF.groupBy( [ 'continent' ,  'Gender' ] ).mean( ).show( )

In [16]:
from pyspark.sql import *
student = Row("studentId", "name", "gender")
s1 = student("si1", "Robin", "M")
s2 = student("si2", "Maria", "F")
s3 = student("si3", "Julie", "F")
s4 = student("si4", "Bob", "M")
s5 = student("si5", "William", "M")
students = [s1,s2,s3,s4,s5]
studentsDF = spark.createDataFrame(students)
studentsDF.show()

+---------+-------+------+
|studentId|   name|gender|
+---------+-------+------+
|      si1|  Robin|     M|
|      si2|  Maria|     F|
|      si3|  Julie|     F|
|      si4|    Bob|     M|
|      si5|William|     M|
+---------+-------+------+

In [17]:
subjects = Row("studentId", "subject", "marks")
sub1 = subjects("si1", "Python", 75)
sub2 = subjects("si3", "Java",76)
sub3 = subjects("si1", "Java", 81)
sub4 = subjects("si2", "Python", 85)
sub5 = subjects("si3", "Ruby", 73)
sub6 = subjects("si4", "C++", 78)
sub7 = subjects("si4", "C", 77)
sub8 = subjects("si4", "Python", 84)
sub9 = subjects("si2", "Java", 83)

l = [sub1, sub2, sub3, sub4, sub5, sub6, sub7, sub8, sub9]
subjectsDF = spark.createDataFrame(l)
subjectsDF.show()

+---------+-------+-----+
|studentId|subject|marks|
+---------+-------+-----+
|      si1| Python|   75|
|      si3|   Java|   76|
|      si1|   Java|   81|
|      si2| Python|   85|
|      si3|   Ruby|   73|
|      si4|    C++|   78|
|      si4|      C|   77|
|      si4| Python|   84|
|      si2|   Java|   83|
+---------+-------+-----+

# Joins

In [ ]:
innerdf = studentsDF.join(subjectsDF, studentsDF.studentId==subjectsDF.studentId, how="inner")
innerdf.show()

In [ ]:
leftdf = studentsDF.join(subjectsDF, studentsDF.studentId==subjectsDF.studentId, how="left")
leftdf.show()

In [ ]:
rightdf = studentsDF.join(subjectsDF, studentsDF.studentId==subjectsDF.studentId, how="right")
rightdf.show()

In [ ]:
outerdf = studentsDF.join(subjectsDF, studentsDF.studentId==subjectsDF.studentId, how="full")
outerdf.show()

In [ ]:
uniondf = studentsDF.union(subjectsDF) # horizontal stack
uniondf.show()